// variables
$brand: #750cdd;
$primary: #fff;
$secondary: #000;
$scouts: #004851;
$beavers: #006ee0;
$cubs: #709f32;

$brand-text: #4c2177;
$primary-text: #fff;
$secondary-text: #000;

$primary-border: #750cdd;
$secondary-border: #000;

$border-radius: 15px;

$sm-padding: 5px;
$md-padding: 10px;
$lg-padding: 15px;
$xl-padding: 20px;

$sm-margin: 5px;
$md-margin: 10px;
$lg-margin: 15px;
$xl-margin: 20px;

// inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
